{% extends "layout.html" %}


{% block title %}

<title>Ideias - Casa Criativa</title>

{% endblock title %}

{% set bodyId = "page-ideas" %}


    
{% block content %}

        <header>
            <a href="/"> <img src="logo.png" alt="Logo Casa Criativa"></a>
            <nav>
                <li><a href="/">Inicio</a></li>
                <li><a class="button" href="#" onclick="onOff()">Nova Ideia</a></li>
    
            </nav>
        </header>
    
        <section id="title">
            <p>em exibição</p>
            <h1>Ideias</h1>
        </section>
        <main>
            <section id="ideas">
                {% include "all_ideas.html" %}
            </section>
        </main>
        <footer>
            <p id="footer">Com ❤️ <a href="rocketseat.com.br">Rocketseat</a></p>
        </footer>
    </DIV>
   

    {% include "modal.html" %}


    <script src="scripts.js"></script>
</body>
</html>

{% endblock %}