<div id="modal" class="hide">
    <div class="content">
        <h1>Nova Ideia</h1>

        <form action="">

            <div class="input-wrapper">
                <label for="Title"> Titulo da Ideia</label>
                <input type="text" name="title">
            </div>

            <div class="input-wrapper">
                <label for="Category"> Categoria <label>
                        <input type="text" name="Category">
            </div>

            <div class="input-wrapper">
                <label for="Image"> Link da Imagem</label>
                <input type="text" name="Image">
            </div>

            <div class="input-wrapper">
                <label for="Description"> Digite uma descrição para essa ideia</label>
                <textarea name="description" id="" cols="30" rows="10"></textarea>
            </div>

            <div class="input-wrapper">
                <label for="Link"> Link da Ideia</label>
                <input type="text" name="Link">

            </div>

            <a href="#" onclick="onOff()">Voltar</a>


            <button>Salvar</button>



        </form>
    </div>
</div>